<header class="bg-site-nav flex items-center justify-between px-4 py-4 text-white md:px-10 lg:px-30 sticky top-0 z-25">
  <app-logo></app-logo>
  <div class="flex items-center gap-4">
    <app-language-switcher/>
    <app-theme-toggle class="hidden md:flex"/>

    <nav class="hidden md:flex gap-8 text-sm font-medium">
      <a href="#features" class="hover:opacity-70 transition">{{ 'Fonctionnalités' | trl }}</a>
      <a href="#how-it-works" class="hover:opacity-70 transition">{{ 'Comment ça marche' | trl }}</a>
      <a href="#testimonials" class="hover:opacity-70 transition">{{ 'Témoignages' | trl }}</a>
    </nav>

    <div class="flex md:hidden items-center gap-2">
      @if(!this.isOpenMenu()){
        <div (click)="toggleMenu()">
          <lucide-icon name="chart-no-axes-gantt" class="size-6 cursor-pointer" strokeWidth="2.5"></lucide-icon>
        </div>
      } @else {
        <div class="flex flex-col text-l fixed top-0 right-0 w-full h-screen z-20 bg-site-light text-main md:hidden">

          <div class="flex items-center justify-between bg-site-nav px-4 py-4">
            <img src="assets/logo/cutit-logo.svg" alt="logo-cutit" class="w-auto h-8 cursor-pointer object-contain">
            <div class="flex items-center justify-between gap-3">
              <app-theme-toggle/>
              <div (click)="toggleMenu()">
                <lucide-icon name="x" class="size-6 cursor-pointer stroke-white" strokeWidth="2.5"></lucide-icon>
              </div>
            </div>
          </div>

          <div class="flex flex-col items-start justify-start gap-5 px-6 py-4 bg-site font-normal">
            <a href="#features" (click)="toggleMenu()" class="hover:opacity-70 transition">{{ 'Fonctionnalités' | trl }}</a>
            <div class="h-px w-full bg-main/10"></div>
            <a href="#how-it-works" (click)="toggleMenu()" class="hover:opacity-70 transition">{{ 'Comment ça marche' | trl }}</a>
            <div class="h-px w-full bg-main/10"></div>
            <a href="#testimonials" (click)="toggleMenu()" class="hover:opacity-70 transition">{{ 'Témoignages' | trl }}</a>
          </div>

          <div class="flex flex-col items-center justify-start gap-5 px-6 pt-10">
            <app-download/>
          </div>

          <div class="mt-auto w-full">
            <app-footer/>
          </div>

        </div>
      }
    </div>


    <!-- <button class="hidden md:flex items-center gap-1 text-sm bg-button text-main px-4 py-2 rounded-lg">
      Télécharger
      <lucide-icon name="arrow-big-down" size="16" strokeWidth="2.5"></lucide-icon>
    </button> -->
  </div>
</header>
