<section class="bg-site text-main min-h-[50vh]">
  <div class="flex flex-col container mx-auto px-10 md:px-50 py-10 items-center gap-10">

    <div class="flex flex-col items-center justify-center">
        <h2 class="text-xl md:text-3xl text-main opacity-70">Découvre l'app</h2>
    </div>

    <div #scrollContainer class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth w-full md:overflow-visible md:snap-none md:flex-row md:justify-center gap-6 px-4 py-8 custom-scrollbar-hide">

        <div class="flex-none w-[60%] snap-center md:flex-1 md:w-auto">
            <img src="/assets/utils/app1.svg" alt="Aperçu 1" class="w-full h-auto hover:scale-105 transition-transform duration-500">
        </div>

        <div class="flex-none w-[60%] snap-center md:flex-1 md:w-auto">
            <img src="/assets/utils/app2.svg" alt="Aperçu 2" class="w-full h-auto hover:scale-105 transition-transform duration-500">
        </div>

        <div class="flex-none w-[60%] snap-center md:flex-1 md:w-auto">
            <img src="/assets/utils/app3.svg" alt="Aperçu 3" class="w-full h-auto drop-shadow-2xl hover:scale-105 transition-transform duration-500">
        </div>

        <div class="flex-none w-[60%] snap-center md:flex-1 md:w-auto">
            <img src="/assets/utils/app4.svg" alt="Aperçu 4" class="w-full h-auto hover:scale-105 transition-transform duration-500">
        </div>
    </div>

    <div class="flex items-center gap-4 md:hidden">
        <button (click)="scrollLeft()" class="p-3 rounded-full border border-main/20 hover:bg-main/5 transition-colors">
            <lucide-icon name="chevron-left" class="size-6"></lucide-icon>
        </button>
        <button (click)="scrollRight()" class="p-3 rounded-full border border-main/20 hover:bg-main/5 transition-colors">
            <lucide-icon name="chevron-right" class="size-6"></lucide-icon>
        </button>
    </div>

 </div>
</section>
