<section class="bg-site text-main min-h-[50vh] font-medium">
  <div class="flex flex-col items-center container mx-auto gap-8 px-4 md:px-15 lg:px-20 py-12 md:py-20">

    <div class="flex flex-col-reverse md:flex-row items-center justify-between">

      <!-- Colonne de gauche : Textes et Boutons -->
      <div class="flex-1/2 flex flex-col gap-6 text-center md:text-left">
        <div class="flex flex-col gap-2">
          <p class="text-sm md:text-base opacity-60">
            L'application qui te fait gagner du temps avec tes vidéos
          </p>
          <h1 class="text-xl md:text-2xl lg:text-3xl font-bold">
            Cutit - Découpage de vidéos
          </h1>
        </div>

        <p class="text-lg md:text-xl opacity-70 max-w-xl">
          Cutit est une application gratuite simple et efficace qui vous permet de découper
          automatiquement avec précision vos longues vidéos en segments.
          Idéal pour les réseaux sociaux (Instagram, WhatsApp, TikTok, etc.).
        </p>

      </div>

      <!-- Colonne de droite : Image -->
      <div class="flex-1 flex justify-center first md:justify-end">
        <img src="/assets/logo/cutit-image.svg" alt="Aperçu Cutit"
             class="w-1/2 md:w-full object-contain drop-shadow-2xl">
      </div>

    </div>

    <div class="flex flex-col items-center justify-start gap-5 px-6 pt-10">
      <app-download/>
    </div>
  </div>
</section>

