<footer class="flex flex-col items-center justify-between gap-3 px-4 py-6 bg-site-nav text-white font-medium">

  <div class="flex flex-col w-full md:flex-row justify-between gap-6 md:px-10 lg:px-30">
    <div class="flex justify-center shrink-0">
      <app-logo></app-logo>
    </div>

    <nav class="flex justify-center gap-6 text-sm">
      <a href="#" class="hover:opacity-70 transition">Confidentialité</a>
      <a href="#" class="hover:opacity-70 transition">Conditions</a>
      <a href="#" class="hover:opacity-70 transition">Support</a>
    </nav>

  </div>

  <div class="flex-2 flex-col items-center py-4 text-xs text-white/45">
      © 2026 Cutit. Tous droits réservés.
  </div>

</footer>



